[submodule "42-Python-Projects"]
	path = 42-Python-Projects
	url = git@github.com:ozay-mehmet/42-Python-Projects.git
[submodule "Push_swap"]
	path = Push_swap
	url = git@github.com:ozay-mehmet/Push_swap.git
[submodule "42-Piscine"]
	path = 42-Piscine
	url = git@github.com:ozay-mehmet/42-Piscine.git
[submodule "42-Get_Next_Line"]
	path = 42-Get_Next_Line
	url = git@github.com:ozay-mehmet/42-Get_Next_Line.git
[submodule "42-Printf"]
	path = 42-Printf
	url = git@github.com:ozay-mehmet/42-Printf.git
[submodule "42-Libft"]
	path = 42-Libft
	url = git@github.com:ozay-mehmet/42-Libft.git
